* {
	margin: 0px; 
	padding: 0px; 
  box-sizing: border-box;
  font-family: 'Quicksand';
}

input {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
	border-bottom: 2px solid rgb(24, 24, 54);
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-top: none;
  border-left: none;
  border-right: none;
	border-bottom: 2px solid rgb(24, 24, 54);
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: rgb(24, 24, 54);}
input:-moz-placeholder { color: rgb(24, 24, 54);}
input::-moz-placeholder { color: rgb(24, 24, 54);}
input:-ms-input-placeholder { color: rgb(24, 24, 54);}

textarea::-webkit-input-placeholder { color: rgb(24, 24, 54);}
textarea:-moz-placeholder { color: rgb(24, 24, 54);}
textarea::-moz-placeholder { color: rgb(24, 24, 54);}
textarea:-ms-input-placeholder { color: rgb(24, 24, 54);}

label {
  margin: 0;
  display: block;
}

button {
	outline: none !important;
  border: 2px solid rgb(146, 161, 173);
  background: none;

  font-family: Poppins-Medium;
  font-size: 16px;
  line-height: 1.2;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 400px;
  height: 50px;
  border-radius: 25px;

  color: rgb(146, 161, 173);
  position: relative;
  z-index: 1;
  transition: 0.5s;
}

button:hover {
	cursor: pointer;
  background: rgb(146, 161, 173);
  color: white;
  transition: 0.5s;
}

iframe {
	border: none !important;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.9);
}

.wrap-login100 {
  width: 500px;
  border: 2px solid rgb(24, 24, 54);
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 37px 55px;
  color: rgb(24, 24, 54);
  background: white;
}

.regis{
  text-align: center;
  margin-top: 3%;
}

.regis a{
  outline: none !important;
  border: 2px solid rgb(38, 72, 110);
  color: rgb(38, 72, 110);

  font-family: Poppins-Medium;
  font-size: 16px;
  line-height: 1.2;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 400px;
  height: 50px;
  border-radius: 25px;

  background: none;
  position: relative;
  z-index: 1;
  transition: 0.5s;
}

.regis a:hover{
  cursor: pointer;
  background: rgb(38, 72, 110);
  color: white;
  transition: 0.5s;
}

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 1px solid rgba(255,255,255,0.24);
  margin-bottom: 25px;
}

.input100 {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: rgb(24, 24, 54);
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px 0 3px;
}

/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #334953;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 55px 15px 37px 15px;
  }
}