<div class="row">
    <div class="col-md-6 ml-auto mr-auto">
      <div class="card card-upgrade">
        <div class="card-header text-center">
          <h4 class="card-title">[This is a header.]</h4>
            <p class="card-category">[A paragraph. Another paragraph.]]</p>
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" placeholder="Username">
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password">
                      </div>
                    </div>
                </div>
                
                <div class="row">
                  <div class="update ml-auto mr-auto">
                    <button type="submit" routerLink="/dashboard" class="btn btn-primary btn-round">Log In As User!</button>
                    &nbsp;&nbsp;&nbsp;
                    <!-- <button type="submit" class="btn btn-primary btn-round">Log In As Guest</button> -->
                  </div>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>  