<!-- Register Page Body Content Goes Here -->

<div style="background-image: url(assets/img/gif1.gif); background-repeat: no-repeat; background-size:cover;">
	<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="well">
                <div class="wrap-input100 validate-input" data-validate = "Enter username">
                    <input type="text" [(ngModel)]="user_name" name="user_name" id="userName" class="input100" placeholder="Username" autocomplete="off" required>
                    <span *ngIf="isTaken">Username is already taken.</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input type="password" [(ngModel)]="user_password" name="user_password" id="userPw" class="input100" placeholder="Password" required>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Re-enter password">
                    <input type="password" [(ngModel)]="repassword" name="repassword" id="reUserPw" class="input100" placeholder="Re-enter Password" required>
                    <span *ngIf="isNotMatch">Passwords do not match.</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Enter firstname">
                    <input type="text" [(ngModel)]="user_firstname" name="user_firstname" id="firstName" class="input100" placeholder="Firstname" autocomplete="off" required>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Enter lastname">
                    <input type="text" [(ngModel)]="user_lastname" name="user_lastname" id="lastName" class="input100" placeholder="Lastname" autocomplete="off" required>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Choose department">
                    <select [(ngModel)]="user_grp" name="user_grp" id="userDept" class="input100 dropdown" placeholder="Choose Department..." required>
                        <option disabled selected value="Select your department...">Select your department...</option>
                        <option *ngFor="let dept of depts" value="{{dept.user_grp}}">{{dept.user_grp}}</option>
                    </select>
                </div>

                <div class="container-login100-form-btn">
                    <button type="button" (click)="addUser()" id="register_btn">Register</button>
                </div>
                
				<div class="regis">
					<a routerLink="/index">Go to Log In</a>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<script src="../../../resources/js/register.js"></script>
<script>
    window.onload = function() {
        startSession();
    }
</script>